# test/**

dist
*.sh
*.yml
*.yaml
.env*
*.min.js
*.conf
!.commitlintrc.js
!.prettierrc.js
.node-version.
.code-snippets
*.prisma
*.graphql
.node-version
Dockerfile*
**/*/.graphqlconfig
**/*/Dockerfile
**/*/Dockerfile.alpine
**/*/**/*.graphql
LICENSE
license.txt

src/lib/application/files/react-admin/public/**/*.*
