.husky
.DS_Store
.browserslistrc
.editorconfig
.eslintignore
.prettierignore
.npmrc
*ignore

*.ico
*.bmp
*.drawio
*.env*
*.gif
*.jpg
*.jpeg
*.svg
*.png
*.yml
*.sh

**/*.png

*.min.css
*.min.js
*.xlsx
*.conf
.yarnrc
*.prisma
*.py
*.gitattributes
*.xls
!.stylelintrc.json

dist
Dockerfile
LICENSE
node_modules
docker-compose.yml
pnpm-lock.yaml
pnpm-workspace.yaml
yarn.lock
